/* Chancellor.css */

.mainContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .allLeftMenu {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
  }
  
  .allLeftMenu a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
  }
  
  .allLeftMenu a.active {
    color: rgb(43, 170, 125); /* Change the active link color as desired */
  }
  
  .allRightContent {
    flex-grow: 1;
  }
  
  .allRightContentHeading {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profileImage img {
    /* max-width: 100%; */
    width: 300px;
    height: auto;
  }
  
  .profileName h3 {
    margin: 0;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .profileDesignation h4 {
    margin: 0;
    font-weight: normal;
    margin-top: 5px;
  }
  
  hr {
    border: 1px solid #ccc;
    margin: 10px 0;
  }
  
  /* Additional styling can be added as needed */
  