

.clgnamediv {
  width: 100px;
  height: 10vh;
  text-decoration: none;
  color: #690001;
  margin-left: 100px;
}

.clgdiv {
  margin-top: -20px;
}

.clgheaddiv {
  color: #2e0669;
  font-weight: 700;
  font-size: 26px;
  width: 400px;
}

.clgtextdivOP {
  background-color: whitesmoke;
  height: 40px;
  padding: 10px;
  font-weight: 400;
  font-size: medium;
}
