.image {
  height: 400px;
  width: 80vw;
}
.mainImageGaller {
  background-color: transparent;
}

.mianDivIG {
  margin-left: 10%;
  margin-right: 10%;
}
.carouselText{
    background-color: rgb(72, 96, 65);
    width: max-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}
