/*  */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html {
  background: linear-gradient(left, #99a, #eee, #99a);
}

.page {
  margin: 0 auto 0 -40px;
  text-align: center;
  padding: 1em 0;
}

.scroll {
  height: 300px;
  width: 40px;
  overflow-y: scroll;
  display: inline-block;

  .inner {
    height: 300%;
    width: 100%;
    content: ".";
  }
  &--sublime::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &--sublime::-webkit-scrollbar-track {
    border-radius: 10px;
    background: linear-gradient(left, #212121, #323232);
    box-shadow: 0 0 1px 1px #111;
  }
  &--sublime::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #4a4a4a, #404040);
    box-shadow: inset 0 0 1px 1px #191919;
  }
  &--sublime::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #555555, #4e4e4e);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
